<style>

body{
    background-color: rgb(249, 245, 254);
    box-shadow: inset;
    padding-left: 5%;
    padding-top: 5%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #182c4c;
}

h2 {
    color: #182c4c;
}

.pdfs {
    padding-left: 30%;
}

.user_req {
    padding-left: 30%;
}

</style>
